@import 'variables.scss';

.WeatherDotGov {

  .forecast {
    padding: 20px;
    padding-bottom: 30px;
    animation: fadeIn 700ms ease-in-out;

    @media #{$isPhone} {
      padding: 20px 0;
    }
    
    &:not(:last-of-type) {
      border-bottom: 1px solid #aaa;
    }

    .detailed {
      display: table;

      .weather-icon, .detailed-forecast {
        display: table-cell;
        vertical-align: top;
      }

      .detailed-forecast {
        padding-left: 10px;
        text-align: left;
      }
    }
  }
}