@import 'variables.scss';

.WeatherDotGov {

  h4 {
    @media #{$isPhone} {
      font-size: 20px;
    }
  }

  .inline {
    display: inline-block;
    vertical-align: middle;
    margin: 8px;
  }

  .current-conditions {
    margin-top: 50px;
    padding-bottom: 20px;
    border: 1px solid $borderColor;
    font-weight: bold;
    background-color: #fff;

    h4 {
      margin-bottom: 8px;
    }

    .temps {
      margin-right: 25px;

      .current-temp {
        font-size: 45px;
      }

      .inline {
        margin-top: 0;
      }
    }

    label {
      color: #666;
    }
  }
    
  h4.chart-title {
    margin: 0;
    padding: 50px 0 10px 0;
  }

  .chart-area {
    padding: 10px;
    background-color: #fff;

    .Chart {
      height: 250px;
  
      h4 {
        margin: 0;
      }
    }
  }

  .forecast {
    padding: 50px 20px 20px 20px;
    padding-bottom: 30px;
    animation: fadeIn 700ms ease-in-out;

    @media #{$isPhone} {
      padding: 20px 0;
    }
    
    &:not(:last-of-type) {
      border-bottom: 1px solid #aaa;
    }

    .simple {
      display: table;

      .weather-icon, .simple-forecast {
        display: table-cell;
        vertical-align: top;
      }

      .simple-forecast {
        padding-left: 10px;
        text-align: left;
      }
    }
  }
}


body.dark-mode .WeatherDotGov {

  .current-conditions {
    background-color: $darkBGAccent;

    label {
      color: #aaa;
    }
  }

  .chart-area {
    background-color: $darkBGAccent;
  }
}