$formElementHeight: 34px;

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #efefef;

  header {
    background-color: #333;
    color: #fff;
    font-size: 32px;
    padding: 20px 0;
  }

  button {
    background-color: cornflowerblue;
    color: #333;
    border: none;
    height: $formElementHeight;
    box-sizing: border-box;
    padding: 6px 0;

    &:hover {
      background-color: #6b9bef;
    }
  }

  input {
    box-sizing: border-box;
    height: $formElementHeight;
    padding: 6px;
    border: none;
    background-color: #fff;
    font-size: 16px;
  }
}

@keyframes fadeIn{
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}