@import 'variables.scss';

$formElementHeight: 34px;

.App {
  min-height: 100vh;
  text-align: center;
  font-size: 14px;

  @media #{$isPhone} {
    font-size: 18px;
  }

  header {
    background-color: $darkBGAccent;
    color: #fff;
    font-size: 32px;
    padding: 20px 0;
  }

  button {
    background-color: $accentColor;
    color: #fff;
    border: none;
    height: $formElementHeight;
    box-sizing: border-box;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms;

    &:hover {
      background-color: lighten($accentColor, 10%);
    }
  }

  input {
    box-sizing: border-box;
    height: $formElementHeight;
    padding: 6px;
    border: none;
    background-color: #fff;
    font-size: 16px;
  }
}


// body.dark-mode {
  
//   header {
//     background-color: #000;
//   }
// }

@keyframes fadeIn{
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}