@import 'variables.scss';

.Locations {
  position: absolute;
  transform: translateX(-230px);
  transition: transform 300ms;
  background: #fff;
  z-index: 10;
  width: 220px;
  top: 0;
  left: 0;
  min-height: 100%;
  padding-bottom: 20px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 4px 5px 12px 0px rgba(0,0,0,0.75);

  &.active {
    transform: translateX(0);
  }

  .group-label {
    font-weight: bold;
    background-color: #666;
    color: #FFF;
    padding: 4px 0;
    
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
  
  .location {
    font-size: 14px;
    display: block;
    padding: 5px 8px;
    height: auto;
    margin: 4px;
    background: none;
    font-weight: normal;

    &:hover {
      background: none;
      color: #666;
    }

    @media #{$isPhone} {
      padding: 6px 8px;
      font-size: 18px;
    }
  }
}