.LocalWeather {
  padding: 20px 16px;

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .address-form, .forecast-area {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
  }

  .address-form {
    max-width: 400px;

    input, button {
      vertical-align: top;
    }

    input {
      width: 88%;
    }

    button {
      width: 12%;
      cursor: pointer;
    }

    .results {
      position: absolute;
      z-index: 1;
      width: 100%;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.9);
      border-left: 1px solid #666;
      border-right: 1px solid #666;

      .result {
        border-bottom: 1px solid #666;
        padding: 6px 4px;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          background-color: lightgray;
        }
      }
    }
  }
}