@import 'variables.scss';

$mobileGutter: 16px;
$borderColor: #666;
$inputWidth: 88%;

.LocalWeather {
  min-height: 100vh;
  padding: 20px 16px;

  @media #{$isPhone} {
    padding: 20px 0;
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    margin-top: 14px;

    @media #{$isPhone} {
      font-size: 22px;
      margin-top: 10px;
    }
  }

  h6 {
    margin-top: -16px;
    font-size: 12px;

    @media #{$isPhone} {
      font-size: 14px;
      margin-top: -22px;
    }
  }

  .note {
    text-align: left;
    padding-top: 4px;
    padding-left: 6px;
    font-size: 11px;
    font-style: italic;
    color: #555;
  }

  .address-form, .forecast-area {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
  }

  .address-form {
    max-width: 500px;

    @media #{$isPhone} {
      padding: 0 $mobileGutter;
    }

    input, button.loc {
      vertical-align: top;
    }

    input {
      width: $inputWidth;
    }

    button.loc {
      width: 100% - $inputWidth;
      cursor: pointer;
    }

    .results {
      position: absolute;
      z-index: 1;
      width: $inputWidth;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.93);
      border-left: 1px solid $borderColor;
      border-right: 1px solid $borderColor;

      .result {
        border-bottom: 1px solid $borderColor;
        padding: 6px 4px;
        font-size: 12px;
        cursor: pointer;
        font-weight: bold;

        &:hover {
          background-color: lightgray;
        }
      }
    }
  }

  .summit-button {
    margin-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    
    @media #{$isPhone} {
      margin-top: 20px;
      font-size: 16px;
    }
  }
}