@import 'variables.scss';

.Tabbed {

    .tabs {
      display: table;
      table-layout: fixed;
      width: 100%;
      margin-bottom: 4px;

      .tab {
        display: table-cell;
        cursor: pointer;
        padding: 4px 0;
        font-weight: bold;
        color: $accentColor;
        border-bottom: 2px solid $accentColor;
        background-color: transparent;
        
        &:not(.active) {
          color: #444;
          border-color: transparent;
        }

        &:hover {
          background-color: #EEE;
        }
      }
    }

    .content {
      border: 1px solid $borderColor;
    }
}


body.dark-mode .Tabbed {

  .tab {

    &:not(.active) {
      color: #AAA;
    }
    
    &:hover {
      background-color: #444;
    }
  }
}